table {
    width: 100%;
    vertical-align: central;
}

.jourcourant {
    background-color: green;
    color: white;
    padding:35px;
    font-size: 40px;
}

.jourcourant:hover, .autrejour:hover{
    background-color: grey;
    color: white;
    font-size: 40px;
    cursor:pointer;
}

.autrejour{
    background-color: #eee;
    font-size: 40px;
}

.case{
    display:block;
    width:100%;
    height:100%;
    color: white;
    text-decoration:none;
}

.evenement{
    color: #bbb;
    background-color: yellow;
    font-size:0.25em;
}