body {
    font-family: 'Open Sans', sans-serif;
    max-width:100%;
}
#semainier{
    max-height:100%;
    overflow:hidden;
}
#wrapper{
    max-height:100%;
}

.login-form {
    width: 26%;
    margin: 9% auto 4% auto;
    position: relative;
    -webkit-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
}
.main h1{
    font-size: 25px;
    color: #676767;
    font-weight: 400;
    padding-top: 19%;
    text-align: center;
}
.main form {
    width: 80%;
    margin: 0 auto;
    padding: 6% 0 9% 0;
}
form p a:hover {
    color:#21A957;
}
.login-form input[type="text"], .login-form input[type="password"]{
    text-align: left;
    position: relative;
    width: 92%;
    padding: 3%;
    background: #D3D3D3;
    margin-bottom: 6%;
    font-family: 'Open Sans', sans-serif;
    color: #676767;
    font-weight: 600;
    font-size: 16px;
    /* outline: none; */
    border: none;
    border-radius: 5px;
    border: 1px solid #DED6D6;
    -webkit-appearance: none;
}
.login-form input[type="text"]:hover, .login-form  input[type="password"]:hover{
    border: 1px solid #949494;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    -ms-transition:	0.5s;
}
.login-form .remember_me {
    font-family: 'Open Sans', sans-serif;
    color: #676767;
    cursor: pointer;
}
.login-form input[type="submit"]{
    width: 99%;
    padding: 3%;
    margin-bottom: 8%;
    background: #21A957;
    font-family: 'Open Sans', sans-serif;
    color: #ECECEC;
    box-shadow: inset 0px 0px 10px #666464;
    -webkit-text-shadow: 0px 0px 3px #000;
    -moz-text-shadow: 0px 0px 3px #000;
    -o-text-shadow: 0px 0px 3px #000;
    -ms-text-shadow: 0px 0px 3px #000;
    font-size: 20px;
    /* outline: none; */
    border: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.5s;
    -webkit-appearance:none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}
.login-form input[type="submit"]:hover{
    background:#128A42;
    color: #fff;
}
.jourcourant{
    width:30px;
}

.heure{
    width:1%;
    text-align: center;
}

#conteneur-options{
    width: 100%;
}

#options-gauche, #options-droite{    
    max-width: 49%;
    display: inline-block;
    vertical-align: top;
    padding: 0 30px;
}

/* ====================================
========== RESPONSIVE DESIGN ========== 
==================================== */
@media (max-width:1440px){
    .login-form {
        width:30%;
        margin: 11% auto 4% auto;
    }
    .main h1 {
        padding-top: 23%;
    }
}
@media (max-width:1366px){
    .login-form {
        width: 32%;
        margin: 10% auto 4% auto;
    }
}
@media (max-width:1280px){
    .login-form  {
        margin:8% auto 0;
        width:34%;
    }
}
@media (max-width:1024px){
    .login-form  {
        margin:12% auto 0;
        width:45%;
    }
}
@media (max-width:768px){
    .login-form  {
        margin: 16% auto 0;
        width: 59%;
    }
}
@media (max-width:640px){                                  
    .login-form {
        margin: 20% auto 0;
        width: 63%;
    }
}
@media (max-width:480px){                                  
    .login-form {
        margin: 32% auto 0;
        width: 74%;
    }
    .main h1 {
        font-size: 22px;
    }
    input[type="text"], input[type="password"], input[type="submit"] {
        font-weight: 600;
        margin-bottom: 4%;
    }
}
@media (max-width:320px){                                  
    .login-form  {
        margin:20% auto 0;
        width: 85%;
    }
    .main h1 {
        padding-top: 20%;
        font-size: 20px;
    }
    input[type="text"], input[type="password"],input[type="submit"] {
        font-weight:600;
        font-size: 15px;
    }
    .main form p a {
        font-size: 15px;
    }
    input[type="submit"] {
        padding: 4%;
    }	
}
/* ========================
========== INDEX ========== 
======================== */
.erreur {
    color: red;
}
/* =========================
========== HEADER ========== 
========================= */
header {
    background: rgb(221,255,221);
    height: 50px;
    max-width: 100%;
}
#logoHeader, #bienvenue, #deconnecter {
    display: inline-block;
}
#logoHeader {
    width: 25%;
}
#bienvenue {
    width: 51%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #21A957;
    text-align: right;
    padding-right: 5%;
    padding-top: 1%;
}
#deconnecter {
    vertical-align: baseline;
    padding-top: 0.8%;
}
/* ==========================
========== SEMAINE ========== 
========================== */
#sousHeader {
    height: 80px;
    color: #21A957;
}
#sousHeader a {
    color: #21A957;
}
#sousHeader a:hover {
    color: white;
}
.sousHeader{
    width:100%;
}
#logoHeader{
    padding-left:2%;
}
#boutonPrecedent, #titreJour, #titreSemaine, #boutonSuivant, #titreMois, #vue, #boutonJour, #boutonSemaine, #boutonMois {
    display: inline-block;
    vertical-align: baseline;
}
#boutonMois:hover{
    color: white;
}
#titreJour, #titreSemaine{
    margin-top: 15px;
}
#titreMois {
    margin-left: 2%;
    width: 30%;
}
#boutonPrecedent {
    margin-left: 2.5%;
}
.left {
    text-align: left;
    padding-left:2%;
    width:10%;
}
.right {
    text-align: right;
    padding-right:2.5%;
}
.bouton {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #21A957;
    font-size: 20px;
    background: rgb(221,255,221);
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
}
.bouton:hover {
    background: #21A957;
    color: white;
}
#agendaSemaine {
    width: 95%;
    margin: 0 auto 50px;
    border: 1px solid #963;
    height: 68%;
    overflow: auto;
    position: absolute;
    left:2.5%;
}
#agendaMois{
    width: 95%;
    max-height:80%;
    margin: 0 auto 50px;
}
#enteteAgendaSemaine,#tableAgendaSemaine {
    width: 100%;
    vertical-align: central;
    font-size: 1em;
    border-collapse: collapse;
    empty-cells: show;
}
#enteteAgendaSemaine, #enteteAgendaJour {
    margin-left:68px;
    width:92%;
}
#tableAgendaSemaine tr {
    height: 20px;
}
#tableAgendaSemaine td {
    height: 20px;
    width: 13.7%;
    cursor:pointer;
}
#tableAgendaSemaine th {
    height: 20px;
    color: green;
}
#tableAgendaSemaine .blank {
    height: 20px;
}
#tableAgendaSemaine td:hover {
    background-color: green;
    color: white;
}
#tableAgendaSemaine .colonne0 {
    width: 4%;
    vertical-align: top;
    text-align: right;
    cursor:pointer;
    font-weight: normal; font-size: 0.9em;
}
.evenement {
    color: #21A957;
    background: rgb(221,255,221);
}
.noBorderTop {
    background: rgba(221,255,221);
}
/* ==========================
========== GENERAL ========== 
========================== */
a {
    text-decoration: none;
    color: black;
}
/* ==========================
========== FOOTER  ========== 
============================*/
#footer{
    height: 5%;
    position:absolute;
    bottom:0;
    background:rgb(221,255,221);
    width:100%;
    padding: 0 2.5%;
    position: fixed;
}

#footer table{
    width:100%;
}

#footer form{
    display:inline-block;
}